In [1]:
print("rpwp")

rpwp

In [2]:
變數一=1

In [3]:
變數一

1

In [4]:
變數一=變數二

NameError: name '變數二' is not defined

In [5]:
變數二=變數一

In [6]:
變數二

1

In [7]:
a=b=c=d=3

In [8]:
a,b,c

(3, 3, 3)

In [9]:
age,name=18,"hsiao"

In [10]:
age,name

(18, 'hsiao')

In [11]:

A=B=C=7

In [12]:
A,b,C,a,B,c

(7, 3, 7, 3, 7, 3)

In [13]:
早餐=90
午餐=150

In [14]:
餐費=早餐+午餐

In [15]:
print(餐費)

240

In [16]:
三天餐費=餐費*3

In [17]:
三天餐費

720

In [18]:
早餐=45

In [19]:
餐費

240

In [20]:
餐費=早餐+午餐

In [21]:
餐費

195

In [22]:
週三高溫=33
週四高溫=32
週五氣溫=33
週六氣溫=33

In [23]:
四天高溫平均=(週三高溫+週四高溫+週五高溫+周六高溫)

NameError: name '週五高溫' is not defined

In [24]:
四天高溫平均=(週三高溫+週四高溫+週五高溫+週六高溫)/4

NameError: name '週五高溫' is not defined

In [25]:
四天高溫平均=(週三高溫+週四高溫+週五氣溫+週六氣溫)/4

In [26]:
四天高溫平均

32.75

In [27]:
(週三高溫,週四高溫,週五高溫,週六高溫)=(33,32,33,33)

In [28]:
四天高溫平均=(週三高溫,週四高溫,週五高溫,週六高溫)

In [29]:
四天高溫平均

(33, 32, 33, 33)

In [30]:
四天高溫平均=(週三高溫+週四高溫+週五高溫+週六高溫)/4

In [31]:
四天高溫平均

32.75

In [32]:
print((週三高溫+週四高溫+週五高溫+週六高溫)/4)

32.75

In [33]:
日花費=300
週花費=日花費*7
月花費=週花月花費*4
月花費

NameError: name '週花月花費' is not defined

In [34]:
日花費=300
週花費=日花費*7
月花費=週花費*4
月花費

8400